.amount {
  padding-top: 115px;
  padding-bottom: 120px;
}

.amount__row {
  display: flex;
}
.amount__item {
  max-width: 255px;
  margin-right: 60px;
  padding-top: 23px;
  border-top: 1px solid #dbdbdb;

  &:last-child {
    margin-right: unset;
  }
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.64);
  }
}
.amount__item-title {
  margin-top: 12px;
  font-weight: 700;
  font-size: 52px;
  margin-bottom: 12px;
}
